<footer>
        <div class="card text-center">
          <div class="card-header">
            Derechos de Autor
          </div>
          <div class="card-body">
            <h5 class="card-title">Roberto Páez Ríos</h5>
            <p class="card-text">Mi repositorio en Github</p>
            <a href="https://github.com/RobertoPaezRios/" target="_blank" class="btn btn-warning col-md-2"><i class="fab fa-github"></i></a>
          </div>
          <!-- <div class="card-footer text-muted">
            2022
          </div> -->
        </div>
      </footer>